* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  display: flex;
  gap: 1rem;
}

button, input {
  padding:  0.5rem 1rem;
}

button {
  cursor: pointer;
}

input {
  min-width: 25rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat {
  display: flex;
  flex-direction: column;
  min-height: 70%;
  width: 80%;
  padding: 1rem;
  gap: 1rem;
  border-radius: 4px;
  border: 1px solid lightslategray;
}

.message {
  padding: 0.8rem;
  border-radius: 4px;
  border: 1px lightslategray solid;
}